atomicwrites==1.4.0
attrs==21.4.0
click==8.0.3
colorama==0.4.4
Flask==2.0.2
iniconfig==1.1.1
itsdangerous==2.0.1
Jinja2==3.0.3
MarkupSafe==2.0.1
packaging==21.3
pluggy==1.0.0
py==1.11.0
pyparsing==3.0.6
pytest==7.0.1
PyYAML==6.0
toml==0.10.2
watchdog==2.1.6
Werkzeug==2.0.2
